/*  your css code here. If applicable */
td,th{
	padding: 8px;
	border: 1px solid rgb(204, 204, 204);
	background-color: rgb(242, 242, 242);
	border-radius: 5px;
}
tbody>tr:nth-child(even) {
            background-color: rgb(242, 242, 242);
        }